<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857952296680-71t8oleua9gmbm2s1bf1tphdr5nkvteh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857952296680-71t8oleua9gmbm2s1bf1tphdr5nkvteh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>857952296680-dnrd97t132ll9p62brg3f2ea10pae1mr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACMCJIIff8887RL8vTcbP2G7kk6hiCarU</string>
	<key>GCM_SENDER_ID</key>
	<string>857952296680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorPlanAdmin</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-d1f29</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-d1f29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857952296680:ios:f7103e30f33045b81af35d</string>
</dict>
</plist>